body {
  background-color: #D3D3D3;
  text-align: center;
}

.App {
  background-color: #C0C0C0;
  border-radius: 15px;
  box-shadow: white;
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.Thanks {
  background-color: #C0C0C0;
  border-radius: 15px;
  box-shadow: white;
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

h1 {
  font-size: 25px;
  font-family: "Georgia";
  text-align: center;
  color: #5E2A84;
}

h2 {
  font-size: 20px;
  font-family: "Trebuchet MS";
  text-align: center;
  color: #4A7C7F;
}

label {
  font-size: 15px;
  font-family: "Trebuchet MS";
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: black;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Trebuchet MS";
}

select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Trebuchet MS";
}

textarea {
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Trebuchet MS";
}

button {
  padding: 10px 15px;
  border-radius: 6px;
  margin: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4A7C7F;
  width: 40%;
  font-size: 18px;
  font-family: "Trebuchet MS";
  font-weight: bold;
}

button:hover {
  background-color: #7FAFA9;
}